# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Laravel (Backend)
/vnyl-backend/vendor/
/vnyl-backend/.env
/vnyl-backend/storage/framework/sessions/*
/vnyl-backend/storage/framework/views/*
/vnyl-backend/storage/framework/cache/data/*
/vnyl-backend/storage/logs/*.log

# React (Frontend)
/vnyl-frontend/node_modules/
/vnyl-frontend/.env
/vnyl-frontend/build/
/vnyl-frontend/.DS_Store